logging:
    file: log/cogz-web.log
    level:
        root: INFO
        org:
            cogz:
                web: TRACE  

server:
    port: 8080

spring:
    thymeleaf:
        cache: false
    datasource:
        driver-class-name: org.apache.derby.jdbc.ClientDriver
        url: jdbc:derby://localhost:1527/cogzdb
        username: sa
        password: sa
        initialization-mode: never #flag for using *.sql (always,never,embedded)
    jpa:
        hibernate:
            ddl-auto: none #prevent generation of tables from entities            
        show-sql: true
        properties:
            hibernate:
                format_sql: true
