logging:
    file: log/cogz-web.log
    level:
        root: INFO
        org:
            cogz:
                web: TRACE  

server:
    port: 8080

spring:
    thymeleaf:
        cache: false
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        hibernate:
            ddl-auto: none
