<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="fragments/header :: header-head"/>
    </head>

    <body class="hold-transition skin-black-light sidebar-mini">

        <div class="modal fade" id="modal-create-player">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create Player</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="form-create-player">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input-create-call-sign">Call Sign</label>
                                    <input type="text" class="form-control" id="input-create-call-sign" name="callSign" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-create-first-name">First Name</label>
                                    <input type="text" class="form-control" id="input-create-first-name" name="firstName" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-create-last-name">Last Name</label>
                                    <input type="text" class="form-control" id="input-create-last-name" name="lastName" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-create-contact-num">Contact No.</label>
                                    <input type="text" class="form-control" id="input-create-contact-num" name="contactNum" pattern="[0-9]+" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <!-- /.box-body --> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btn-create-player-save"><i class="fa fa-save"></i> Close</button>
                        <button type="button" class="btn btn-primary" id="btn-create-player-save-add"><i class="fa fa-save"></i> Add Another</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div th:replace="fragments/header :: change-pw"/>

        <div class="wrapper">

            <div th:replace="fragments/header :: header-menu"/>
            <div th:replace="fragments/sidebar :: copy"/>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Profiles
                        <small>Players</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Profiles</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="box">
                                <div class="box-header">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="box-title">Player List</h3>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="btn-create-player" type="button" class="btn" data-toggle="modal" data-target="#modal-create-player">
                                                <i class="fa fa-plus"></i> Create Player
                                            </button>
                                            <button id="btn-delete-player" type="button" class="btn btn-danger">
                                                <i class="fa fa-trash"></i> Delete Player
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="dt-player" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Call Sign</th>
                                                <th>Full Name</th>
                                                <th>Contact No.</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <div th:replace="fragments/footer :: copy"/>

        </div>
        <!-- ./wrapper -->

        <div th:replace="fragments/footer :: js-import"/>
        <script th:replace="fragments/sidebar :: selectedMenu(prof-players)"></script>
        <script th:src="@{/resources/js/list-page.js}"></script>
        <script th:src="@{/resources/js/profiles/players-page.js}"></script>
        <script th:inline="javascript">
            $(function () {
                new PlayersPage();
            });
        </script>

    </body>
</html>
