<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="fragments/header :: header-head"/>
    </head>

    <body class="hold-transition skin-black-light sidebar-mini">

        <div id="player-dto" class="hidden" th:text="${playerDto}"></div>

        <div class="modal fade" id="modal-edit-player">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Detail</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="form-edit-player">
                            <input type="hidden" id="input-edit-id" name="id"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input-edit-call-sign">Call Sign</label>
                                    <input type="text" class="form-control" id="input-edit-call-sign" name="callSign" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-edit-first-name">First Name</label>
                                    <input type="text" class="form-control" id="input-edit-first-name" name="firstName" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-edit-last-name">Last Name</label>
                                    <input type="text" class="form-control" id="input-edit-last-name" name="lastName" pattern="\S(.*\S)?" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-edit-contact-num">Contact No.</label>
                                    <input type="text" class="form-control" id="input-edit-contact-num" name="contactNum" pattern="[0-9]+" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <!-- /.box-body --> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btn-edit-player-save"><i class="fa fa-save"></i> Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-add-gun-player">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Gun</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="form-add-gun-player">
                            <input type="hidden" id="input-add-gun-player-id" name="playerId"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input-add-gun-name">Name</label>
                                    <input type="text" class="form-control" id="input-add-gun-name" name="name" pattern="\S(.*\S)?" required/>
                                </div>
                                <div class="form-group">
                                    <label for="input-add-gun-model">Model</label>
                                    <input type="text" class="form-control" id="input-add-gun-model" name="model" pattern="\S(.*\S)?" required/>
                                </div>
                                <div class="form-group">
                                    <label for="input-add-gun-type">Type</label>
                                    <select class="form-control" id="input-add-gun-type" name="gunType">
                                        <option th:each="gunType : ${T(org.cogz.web.enums.GunType).values()}"
                                                th:value="${gunType}"
                                                th:text="${gunType}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.box-body --> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btn-add-gun-player-save"><i class="fa fa-save"></i> Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-edit-gun-player">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Gun</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="form-edit-gun-player">
                            <input type="hidden" id="input-edit-gun-player-id" name="playerId"/>
                            <input type="hidden" id="input-edit-gun-id" name="id"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input-edit-gun-name">Name</label>
                                    <input type="text" class="form-control" id="input-edit-gun-name" name="name" pattern="\S(.*\S)?" required/>
                                </div>
                                <div class="form-group">
                                    <label for="input-edit-gun-model">Model</label>
                                    <input type="text" class="form-control" id="input-edit-gun-model" name="model" pattern="\S(.*\S)?" required/>
                                </div>
                                <div class="form-group">
                                    <label for="input-edit-gun-type">Type</label>
                                    <select class="form-control" id="input-edit-gun-type" name="gunType">
                                        <option th:each="gunType : ${T(org.cogz.web.enums.GunType).values()}"
                                                th:value="${gunType}"
                                                th:text="${gunType}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.box-body --> 
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btn-edit-gun-player-save"><i class="fa fa-save"></i> Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->        

        <div th:replace="fragments/header :: change-pw"/>

        <div class="wrapper">

            <div th:replace="fragments/header :: header-menu"/>
            <div th:replace="fragments/sidebar :: copy"/>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Profiles
                        <small id="header"></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Profiles</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">

                        <div class="col-xs-12">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-player" data-toggle="tab">Player Detail</a></li>
                                    <li><a href="#tab-gun" data-toggle="tab">Guns</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-player">
                                        <div class="box">
                                            <div class="box-header">                                   
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button id="btn-edit-player" type="button" class="btn">
                                                            <i class="fa fa-edit"></i> Edit Detail
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="call-sign" class="col-sm-2 control-label">Call Sign</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="call-sign" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="first-name" class="col-sm-2 control-label">First Name</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="first-name" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="last-name" class="col-sm-2 control-label">Last Name</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="last-name" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="contact-num" class="col-sm-2 control-label">Contact No.</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="contact-num" disabled>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab-gun">
                                        <div class="box">
                                            <div class="box-header">                                   
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="button" class="btn" data-toggle="modal" data-target="#modal-add-gun-player">
                                                            <i class="fa fa-plus"></i> Add Gun
                                                        </button>
                                                        <button id="btn-edit-gun-player" type="button" class="btn">
                                                            <i class="fa fa-edit"></i> Edit Gun
                                                        </button>
                                                        <button id="btn-delete-gun-player" type="button" class="btn btn-danger">
                                                            <i class="fa fa-trash"></i> Delete Gun
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="dt-gun" class="table table-bordered table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Model</th>
                                                            <th>Type</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <div th:replace="fragments/footer :: copy"/>

        </div>
        <!-- ./wrapper -->

        <div th:replace="fragments/footer :: js-import"/>
        <script th:replace="fragments/sidebar :: selectedMenu(prof-players)"></script>
        <script th:src="@{/resources/js/detail-page.js}"></script>
        <script th:src="@{/resources/js/profiles/player-page.js}"></script>
        <script th:inline="javascript">
            $(function () {
                new PlayerPage();
            });
        </script>

    </body>
</html>
