<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>CoGZ @version@ | Report</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/fontawesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/AdminLTE/dist/css/AdminLTE.min.css}"/>
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic}"/>
        <link rel="stylesheet" th:href="@{/resources/css/app.css}" media="print"/>
    </head>

    <body onload="window.print();">
        <div class="wrapper">
            <!-- Main content -->
            <section class="invoice">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <img th:src="@{/resources/images/logo.png}" height="10%" width="10%"/>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">Game Date: 12/23/2018</h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-6 table-responsive">
                        <table class="table table-bordered table-condensed">
                            <caption>Player List</caption>
                            <thead>
                                <tr>
                                    <th>Call Sign</th>
                                    <th>Time In</th>
                                    <th>In By</th>
                                    <th>Time Out</th>
                                    <th>Out By</th>
                                    <th>Total Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>1000H</td>
                                    <td>Raff</td>
                                    <td>1800H</td>
                                    <td>Raff</td>
                                    <td>150.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-6 table-responsive">
                        <table class="table table-bordered table-condensed">
                            <caption>Registered Gun Unit</caption>
                            <thead>
                                <tr>
                                    <th>Call Sign</th>
                                    <th>Unit Name</th>
                                    <th>Type</th>
                                    <th>FPS</th>
                                    <th>Chrono By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>M4A1</td>
                                    <td>GBBR</td>
                                    <td>380</td>
                                    <td>Landika</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>HK416D</td>
                                    <td>AEG</td>
                                    <td>444</td>
                                    <td>Jackalz</td>
                                </tr>
                                <tr>
                                    <td>Viper</td>
                                    <td>SAI GRY</td>
                                    <td>AEG</td>
                                    <td>449</td>
                                    <td>Jackalz</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-bordered table-condensed">
                            <caption>Player Fee Breakdown</caption>
                            <thead>
                                <tr>
                                    <th>Call Sign</th>
                                    <th>Game Fee</th>
                                    <th>Arm Band (Charged)</th>
                                    <th>BBs</th>
                                    <th>Gun</th>
                                    <th>Battery</th>
                                    <th>Battery Adapter</th>
                                    <th>Vest</th>
                                    <th>Face Mask</th>
                                    <th>Gloves</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Altrax</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                                <tr>
                                    <td>Viper</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-6 table-responsive">
                        <table class="table table-bordered table-condensed">
                            <caption>Fee Summary</caption>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Total Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Game Fee</td>
                                    <td>30</td>
                                    <td>4500</td>
                                </tr>
                                <tr>
                                    <td>BBs</td>
                                    <td>2</td>
                                    <td>520</td>
                                </tr>
                                <tr>
                                    <td>Arm Band</td>
                                    <td>2</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Gun</td>
                                    <td>10</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td>Face Mask</td>
                                    <td>5</td>
                                    <td>250</td>
                                </tr>
                                <tr>
                                    <td>Vest</td>
                                    <td>5</td>
                                    <td>250</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-6 table-responsive">
                        <table class="table table-bordered table-condensed">
                            <caption>Other Expenses</caption>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mineral Water</td>
                                    <td>2</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>Tube Ice</td>
                                    <td>4</td>
                                    <td>200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-xs-6">
                        <p class="lead">Amount Collected</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Fees:</th>
                                    <td>8720.00</td>
                                </tr>
                                <tr>
                                    <th>Expenses:</th>
                                    <td>-270.00</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>8450.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- ./wrapper -->
    </body>
</html>
