<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
        <div class="container" th:fragment="content">

            <div class="row">

                <!-- My Profile -->
                <div class="col-sm px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">My Profile</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-5">

                                    <input id="inputProfilePic" type="file" style="display:none;">

                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img id="profilePic" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <ul class="list-unstyled">
                                        <li id="username" class="fw-bolder"></li>
                                        <li id="fullname" style="font-size: .7rem;"></li>
                                        <li id="email" style="font-size: .7rem;"></li>
                                        <li id="mobileNumber" style="font-size: .7rem;"></li>
                                        <li class="mt-2">
                                            <span id="userStatus" class="badge"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button type="button" id="showResetPasswordModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#resetPasswordModal">Reset PW
                                        </button>
                                        <button type="button" id="showEditProfileModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editProfileModal">Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Game Stats -->
                <div class="col-sm px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">Game Stats</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-sm-4 col-5">
                                    <ul class="list-unstyled">
                                        <li class="fw-bolder" style="font-size: .6rem;">TOTAL REGISTERED</li>
                                        <li id="gameDate" style="font-size: .6rem;"><i class="bi bi-calendar-event-fill"></i> 2025-02-01</li>
                                        <li id="totalRegistered" class="fw-bolder" style="font-size: 3rem;"><span class="badge rounded-pill text-bg-info">44</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-8 col-7">
                                    <canvas id="attendanceChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>            

            <!-- Admin Tasks -->    
            <div class="row mb-3">
                <div class="col px-4">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">Admin Tasks</h5>
                        </div>
                        <div class="card-body">
                            <div id="taskList" class="list-group list-group-flush">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- createGameModal -->
            <div class="modal fade" id="createGameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form id="createGameForm">
                            <div class="modal-header">
                                <h1 class="modal-title h5">Create Game</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <label for="inputSchedule" class="col-sm-2 col-form-label text-small">Schedule</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control form-control-sm" id="inputSchedule"
                                               name="schedule" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="inputAdvanceDeadline" class="col-sm-4 col-form-label text-small">Advance Deadline</label>
                                    <div class="col-sm-8">
                                        <input type="number" min="0" step="1" class="form-control form-control-sm" id="inputAdvanceDeadline"
                                               name="advanceDeadline" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="inputGameType" class="col-sm-2 col-form-label text-small">Type</label>
                                    <div class="col-sm-10">
                                        <select id="inputGameType" class="form-select form-select-sm" required>
                                            <option hidden selected></option>
                                            <option value="REGULAR">REGULAR</option>
                                            <option value="PRIVATE">PRIVATE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="inputGameStatus" class="col-sm-2 col-form-label text-small">Status</label>
                                    <div class="col-sm-10">
                                        <select id="inputGameStatus" class="form-select form-select-sm" required>
                                            <option hidden selected></option>
                                            <option value="OPEN">OPEN - User visible, registration is enabled</option>
                                            <option value="LOCKED">LOCKED - User visible, registration is disabled</option>
                                            <option value="CLOSED">CLOSED - User hidden, payment images available</option>
                                            <option value="ARCHIVED">ARCHIVED - User hidden, payment images purged</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="row mb-3">
                                    <label for="inputBanner" class="col-sm-4 form-label text-small">Banner</label>
                                    <div class="col-sm-12">
                                        <input class="form-control form-control-sm" id="inputBanner" type="file"
                                               accept="image/*" oninput="banner.src=window.URL.createObjectURL(this.files[0])">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <img id="banner" src="uploaded-images/banner/default-banner.png" alt="" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- editProfileModal -->
            <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form id="editProfileForm">
                            <div class="modal-header">
                                <h1 class="modal-title h5">Modify Profile</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <label for="editInputUsername" class="col-sm-2 col-form-label text-small">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputUsername"
                                               name="username" disabled>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputFirstname" class="col-sm-2 col-form-label text-small">Firstname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputFirstname"
                                               name="firstname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputLastname" class="col-sm-2 col-form-label text-small">Lastname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputLastname"
                                               name="lastname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputEmail" class="col-sm-2 col-form-label text-small">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control form-control-sm" id="editInputEmail"
                                               name="email">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputMobileNumber" class="col-sm-3 col-form-label text-small">Mobile
                                        Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" id="editInputMobileNumber"
                                               name="mobileNumber">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputBirthdate" class="col-sm-2 col-form-label text-small">Birthdate</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control form-control-sm" id="editInputBirthdate"
                                               name="birthdate">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- resetPasswordModal -->
            <div class="modal fade" id="resetPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form id="resetPasswordForm">

                            <input type="hidden" id="resetPasswordUserId" name="id"/>

                            <div class="modal-header">
                                <h1 class="modal-title h5">Reset Password</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <label for="resetInputPassword" class="col-sm-12 col-form-label text-small">New
                                        Password</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-sm" id="resetInputPassword"
                                               name="password1" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="resetInputPassword2" class="col-sm-12 col-form-label text-small">Re-Enter New
                                        Password</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-sm" id="resetInputPassword2"
                                               name="password2" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="resetPasswordButton" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
