<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
        <div class="container" th:fragment="content">

            <!-- Team Card -->  
            <div id="teamCard" class="row mb-3 justify-content-center" hidden>
                <div class="col-md-12 col-lg-10 col-xl-8 px-4">
                    <div class="card border-secondary mb-2 rounded-3 shadow-sm">
                        <div class="card-body text-secondary py-1">
                            <div class="row">
                                <div class="col-2 col-md-1 px-0 ms-2">
                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img id="teamLogo" alt="">
                                    </div>
                                </div>
                                <div class="col-auto px-0 ms-2 mt-1">
                                    <ul class="list-unstyled">
                                        <li id="teamName" class="fw-bold"></li>
                                        <li id="teamCardCallsign" class="text-small fw-bold opacity-50"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <!-- My Profile -->
                <div class="col-md col-lg-5 col-xl-4 px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">My Profile</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-5">

                                    <input id="inputProfilePic" type="file" style="display:none;">

                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img id="profilePic" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <ul class="list-unstyled">
                                        <li id="username" class="fw-bolder"></li>
                                        <li id="fullname" style="font-size: .7rem;"></li>
                                        <li id="email" style="font-size: .7rem;"></li>
                                        <li id="mobileNumber" style="font-size: .7rem;"></li>
                                        <li class="mt-2">
                                            <span id="userStatus" class="badge"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button type="button" id="showResetPasswordModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#resetPasswordModal">Reset PW
                                        </button>
                                        <button type="button" id="showEditProfileModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editProfileModal">Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Game Stats -->
                <div class="col-md col-lg-5 col-xl-4 px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">Game Stats</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-5 col-sm-3 col-md-5 col-lg-4 col-xl-5">
                                    <ul id="gameStats" class="list-unstyled">
                                        <li class="fw-bolder" style="font-size: .6rem;">TOTAL REGISTERED</li>
                                        <li id="gameDate" style="font-size: .6rem;"></li>
                                        <li id="totalRegistered" class="fw-bolder" style="font-size: 3rem;"></li>
                                    </ul>
                                </div>
                                <div class="col-7 col-sm-9 col-md-7 col-lg-8 col-xl-7">
                                    <canvas id="attendanceChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      

            <!-- Admin Tasks -->  
            <div class="row mb-3 justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8 px-4">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">Admin Tasks</h5>
                        </div>
                        <div class="card-body">
                            <div id="taskList" class="list-group list-group-flush">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- editProfileModal -->
            <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form>
                            <div class="modal-header">
                                <h1 class="modal-title h5">Modify Profile</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <label for="editInputUsername" class="col-sm-2 col-form-label text-small">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputUsername"
                                               name="username" disabled>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputFirstname" class="col-sm-2 col-form-label text-small">Firstname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputFirstname"
                                               name="firstname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputLastname" class="col-sm-2 col-form-label text-small">Lastname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputLastname"
                                               name="lastname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputCallsign" class="col-sm-2 col-form-label text-small">Callsign</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputCallsign"
                                               name="callsign">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputEmail" class="col-sm-2 col-form-label text-small">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control form-control-sm" id="editInputEmail"
                                               name="email">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputMobileNumber" class="col-sm-3 col-form-label text-small">Mobile
                                        Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" id="editInputMobileNumber"
                                               name="mobileNumber">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputBirthdate" class="col-sm-2 col-form-label text-small">Birthdate</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control form-control-sm" id="editInputBirthdate"
                                               name="birthdate">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button id="editProfileButton" type="button" class="btn btn-outline-primary">
                                    <span id="editProfileSpinner" class="spinner-border spinner-border-sm"></span>
                                    <span class="visually-hidden" role="status">Loading...</span>Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div th:replace="~{fragments/create-game-modal :: content}"></div>
            <div th:replace="~{fragments/reset-pw-modal :: content}"></div>

        </div>
    </body>
</html>
