<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
        <div class="container" th:fragment="content">

            <div class="row">

                <!-- My Profile -->
                <div class="col-sm px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">My Profile</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-5">

                                    <input id="inputProfilePic" type="file" style="display:none;">

                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img id="profilePic" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <ul class="list-unstyled">
                                        <li id="username" class="fw-bolder"></li>
                                        <li id="fullname" style="font-size: .7rem;"></li>
                                        <li id="email" style="font-size: .7rem;"></li>
                                        <li id="mobileNumber" style="font-size: .7rem;"></li>
                                        <li class="mt-2">
                                            <span id="profileWaiverStatus" class="badge"></span>
                                            <span class="badge text-bg-warning">
                                                <i class="bi bi-question-circle"></i> ROE</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button type="button" id="showResetPasswordModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#resetPasswordModal">Reset PW
                                        </button>
                                        <button type="button" id="showEditProfileModal" class="btn btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editProfileModal">Request Mod
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- My Tasks -->
                <div class="col-sm px-4 mb-3">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">My Tasks</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                                   data-bs-target="#waiverModal">
                                    <i class="bi bi-file-earmark-text-fill"></i> Accept Gamesite Waiver
                                    <span id="taskWaiverStatus" class="badge"></span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                                   data-bs-target="#takeRoeCourse"><i class="bi bi-mortarboard-fill"></i> Take ROE Course
                                    <span class="badge text-bg-info"> Soon!!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Active Game Schedule -->
            <div class="row mb-3 justify-content-center">
                <div class="col-sm-10 px-4">
                    <div class="card mb-2 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h5 class="my-0 h6">Active Game Schedule</h5>
                        </div>
                        <div class="card-body">
                            <ul id="gamelist" class="list-unstyled list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- editProfileModal -->
            <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form id="editProfileForm">
                            <div class="modal-header">
                                <h1 class="modal-title h5">Request Profile Modification</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <div class="text-center">
                                        <p class="text-warning fst-italic">Ensure all requested modification of information
                                            below are accurate. You may need to coordinate with an ADMIN and present a valid ID
                                            to confirm. Your accepted waiver, gamesite security entry, and app notifications depend on the below information.</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputUsername" class="col-sm-2 col-form-label text-small">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputUsername"
                                               name="username" disabled>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputFirstname" class="col-sm-2 col-form-label text-small">Firstname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputFirstname"
                                               name="firstname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputLastname" class="col-sm-2 col-form-label text-small">Lastname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" id="editInputLastname"
                                               name="lastname" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputEmail" class="col-sm-2 col-form-label text-small">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control form-control-sm" id="editInputEmail"
                                               name="email">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputMobileNumber" class="col-sm-3 col-form-label text-small">Mobile
                                        Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" id="editInputMobileNumber"
                                               name="mobileNumber">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="editInputBirthdate" class="col-sm-2 col-form-label text-small">Birthdate</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control form-control-sm" id="editInputBirthdate"
                                               name="birthdate">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- resetPasswordModal -->
            <div class="modal fade" id="resetPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <form id="resetPasswordForm">
                            <div class="modal-header">
                                <h1 class="modal-title h5">Reset Password</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row mb-2">
                                    <label for="resetInputPassword" class="col-sm-12 col-form-label text-small">New
                                        Password</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-sm" id="resetInputPassword"
                                               name="password1" required>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="resetInputPassword2" class="col-sm-12 col-form-label text-small">Re-Enter New
                                        Password</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-sm" id="resetInputPassword2"
                                               name="password2" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="resetPasswordButton" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- waiverModal -->
            <div class="modal fade" id="waiverModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header">
                            <h1 class="modal-title h5">Airsoft Gamesite Waiver</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <p>I have read and understood the rules and regulations of CoGZ GAMESITE - MJC in
                                        participating in airsoft activities at the said private property and I am willing to
                                        obey and comply. I also understand the nature and risks in participating in airsoft
                                        activities such as, but are not limited to: bodily injuries caused by playing without
                                        protective equipment, bodily injuries and/or death caused by accidents or health
                                        conditions, committing acts of disobedience to the laws of the Republic of the
                                        Philippines such as, but not limited to, wearing military-style uniform in public and
                                        brandishing firearm replicas in public.</p>
                                    <p>Therefore, I voluntarily agree to release, waive, discharge CONTRACTORS OF GROUND ZERO
                                        (CoGZ), MANILA JOCKEY CLUB INC., its officers, members, and affiliated personnel from
                                        any and all liabilities, claims, actions or losses for bodily injury, property damage,
                                        death, loss of services or otherwise which may cause the above mentioned during my
                                        participation in airsoft activities and my presence at the said private property.</p>
                                    <p>By clicking "I Agree" below, you agree that you have read and agree with the terms of the
                                        waiver and that the information you provided shown in the "My Profile" web page card is
                                        accurate. You furthermore agree that your submission of this form, via the "I Agree"
                                        button, shall constitute the execution of this document in exactly the same manner as if
                                        you had signed, by hand, a paper version of this agreement.</p>
                                </div>
                            </div>
                        </div>
                        <div id="waiverModalFooter" class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
