<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
        <div th:fragment="content">

            <div class="py-1 mb-4 border-bottom shadow-sm">
                <div class="container text-center">
                    <div class="row mt-1">
                        <div class="col-sm-4 col-12">
                            <span class="h4">CoGZ Online Portal</span>                            
                            <span style="font-size: .6rem;">v25.4.0</span>   
                        </div>

                        <div class="col-sm-8 col-12">
                            <ul class="nav nav-tabs">
                                <li class="col">
                                    <a id="navHome" th:href="@{/}" class="nav-link">
                                        <i class="bi bi-house-door-fill"></i>
                                    </a>
                                </li>
                                <th:block sec:authorize="hasAnyRole('ROLE_PSEUDO_STAFF', 'ROLE_STAFF', 'ROLE_ADMIN')">
                                    <li class="col">
                                        <a id="navGameList" th:href="@{/game-list}" class="nav-link">
                                            <i class="bi bi-calendar-week-fill"></i>
                                        </a>
                                    </li>
                                    <li class="col">
                                        <a id="navUserList" th:href="@{/user-list}" class="nav-link">
                                            <i class="bi bi-people-fill"></i>
                                        </a>
                                    </li>                                
                                    <li class="col">
                                        <a id="navTeamList" th:href="@{/team-list}" class="nav-link">
                                            <i class="bi bi-shield-fill"></i>
                                        </a>
                                    </li>                                
                                </th:block>
                                <li class="col">
                                    <a id="navTools" th:href="@{/tools}" class="nav-link">
                                        <i class="bi bi-tools"></i>
                                    </a>
                                </li>
                                <li class="col">
                                    <a class="nav-link" href="javascript: document.logoutForm.submit()">
                                        <i class="bi bi-door-closed-fill"></i>
                                    </a>
                                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                        <input hidden type="submit"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
