<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
        <!-- Left side column. contains the logo and sidebar -->
        <aside th:fragment="copy" class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="mnu-dashboard">
                        <a th:href="@{/}">
                            <i class="fa fa-dashboard"></i> 
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li id="mnu-reg" class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i>
                            <span>Registration</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="mnu-reg-gamelist"><a th:href="@{/registration/games/}"><i class="fa fa-circle-o"></i> Game List</a></li>
                            <li id="mnu-reg-currgame"><a th:href="@{/registration/game/current}"><i class="fa fa-circle-o"></i> Current Game</a></li>
                        </ul>
                    </li>
                    <li id="mnu-prof" class="treeview">
                        <a href="#">
                            <i class="fa fa-address-book"></i>
                            <span>Profiles</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="mnu-prof-players"><a th:href="@{/profiles/players/}"><i class="fa fa-circle-o"></i> Players</a></li>
                            <li id="mnu-prof-guns"><a th:href="@{/profiles/guns/}"><i class="fa fa-circle-o"></i> Guns</a></li>
                        </ul>
                    </li>
                    <li id="mnu-sett" class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i>
                            <span>Settings</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="mnu-sett-users"><a th:href="@{/settings/users/}"><i class="fa fa-circle-o"></i> Users</a></li>
                            <li id="mnu-sett-fees"><a th:href="@{/settings/fees/}"><i class="fa fa-circle-o"></i> Fees</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <script th:inline="javascript" th:fragment="selectedMenu(menu)">
            $(function () {
                // <![CDATA[
                var menu = /*[[${menu}]]*/ null;
                var menus = menu.split('-');
                var currMenu = menus[0];
                for (var i = 0; i < menus.length; ) {
                    $('#mnu-' + currMenu).addClass("active");
                    currMenu += '-' + menus[++i];
                }
                // ]]>
            });
        </script>

    </body>

</html>