<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Online portal for airsoft game registration managed by Contractors of Ground Zero (CoGZ). Gamesite located at SLLBP-MJC (formerly race horse compound consisting of abandoned barracks and stables), Carmona Cavite, Philippines.">
        <title>CoGZ Online Portal</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">  
        <link href="css/application.css" rel="stylesheet">
        <style>
            body{
                height: 100dvh;
            }
            .container{
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container d-flex align-items-center justify-content-center">
            <div class="row justify-content-center">
                <div class="col-9 col-md-6 col-lg-4 mb-3">                               
                    <span style="font-size: .6rem;">v<th:block th:text="${@environment.getProperty('cogz-web.app.version')}"></th:block></span>
                    <img src="images/logo-login.png" class="img-fluid"/>
                </div>
                <div class="col-9 col-md-6 col-lg-3 mt-md-5">
                    <form th:action="@{/login}" method="post" class="form-signin">                
                        <div class="row mb-1 justify-content-center">
                            <div class="col form-floating">
                                <input type="text" id="loginUsername" name="username" class="form-control">
                                <label for="loginUsername">Username</label>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col form-floating">
                                <input type="password" id="loginPassword" name="password" class="form-control">
                                <label for="loginPassword">Password</label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li><button type="submit" class="btn btn-primary w-100 py-2">Login</button></li>
                                    <li class="text-center">or</li>
                                    <li><button type="button" id="showSignupModal" class="btn btn-secondary w-100 py-2"
                                                data-bs-toggle="modal"
                                                data-bs-target="#signupModal">Signup
                                        </button></li>
                                    <li class="text-center mt-2">
                                        <div th:if="${param.error}" class="text-danger">
                                            Invalid username and password.
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>
                                    </li>
                                    <li class="text-body-secondary text-center mt-3" style="font-size: smaller">&copy; 2025 Contractors of Ground Zero (CoGZ)</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- signupModal -->
        <div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content rounded-4 shadow">
                    <form id="signupForm">
                        <div class="modal-header">
                            <h1 class="modal-title h5">Signup and Create Your Account</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row mb-2">
                                <label for="inputUsername" class="col-sm-2 col-form-label text-small">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="inputUsername" name="username" disabled>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputFirstname" class="col-sm-2 col-form-label text-small">Firstname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="inputFirstname" name="firstname" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputLastname" class="col-sm-2 col-form-label text-small">Lastname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="inputLastname" name="lastname" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputCallsign" class="col-sm-2 col-form-label text-small">Callsign</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="inputCallsign" name="callsign">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputEmail" class="col-sm-2 col-form-label text-small">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control form-control-sm" id="inputEmail" name="email" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputMobileNumber" class="col-sm-4 col-form-label text-small">Mobile Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" id="inputMobileNumber" name="mobileNumber" required>
                                </div>
                            </div>                
                            <div class="row mb-3">
                                <label for="inputBirthdate" class="col-sm-2 col-form-label text-small">Birthdate</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" id="inputBirthdate" name="birthdate" required>
                                </div>
                            </div>                            
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <label for="signupPassword" class="col-12 col-form-label text-small">Password</label>
                                                <div class="col-12">
                                                    <input type="password" class="form-control form-control-sm" id="signupPassword" name="password1" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="signupPassword2" class="col-12 col-form-label text-small">Re-Enter Password</label>
                                                <div class="col-12">
                                                    <input type="password" class="form-control form-control-sm" id="signupPassword2" name="password2" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                   
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">               
                                            <div class="row mb-3">
                                                <label for="inputValidId" class="col-sm-4 form-label text-small">Valid ID</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control form-control-sm" id="inputValidId" type="file"
                                                           accept="image/*" oninput="validId.src=window.URL.createObjectURL(this.files[0])" required>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-auto">
                                                    <img id="validId" src="images/blank-id.png" alt="" class="img-thumbnail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="signupButton" class="btn btn-outline-primary">
                                <span id="spinner" class="spinner-border spinner-border-sm"></span>
                                <span class="visually-hidden" role="status">Loading...</span>Signup
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

        <script src="js/common-utils.js"></script>        
        <script src="js/stomp.js"></script>
        <script src="js/login.js"></script>

        <script>
            new Login();
        </script>

    </body>
</html>
